include LICENSE.txt devicesinlan.desktop devicesinlan.pro *.py
recursive-include devicesinlan *.py *.txt *.qm *.html *.ts
recursive-include images *.png  devicesinlan.qrc 
recursive-include man  *.1
prune __pycache__
prune doc/html
global-exclude *.pyc
